extends layout

block content
  
  div#navigation
    div.container
      div.row
        div.col-xs-12
          div.title
  
  div#content.container

  
block scripts
  script(data-main='js/boot', type='text/javascript',src='/js/libs/require.js')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')