extends layout

block content
  
  div#navigation
    div.container
      div.row
        div.col-xs-12
          div.prev
            i.fa.fa-angle-left
            span Back
          div.cancel
            span Cancel
          div.title
          div.next
          div.create
            i.fa.fa-plus
            span Add
  
  div#content.container

  
block scripts
  script(data-main='js/boot', type='text/javascript',src='/js/libs/require.js')