doctype html
html(lang="en")
  head
    title Quirii
    meta(name='viewport',content='width=device-width', initial-scale='1.0', user-scalable='no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet',href='/styles/bootstrap.css')
    link(rel='stylesheet', href='styles/style.css')
  body
    block content
    
    block scripts
