doctype html
html(lang="en")
  head
    title Quirii
    meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles/style.min.css')
    link(rel='apple-touch-icon', sizes='120x120', href='images/icon120px.png')


  body
    block content
    
    block scripts
