<div class="col-sm-8 col-sm-offset-2">
  <form id="quirii-form" novalidate="novalidate" role="form">
    <div class="form-group">
      <label for="title" class="control-label">Quirii Title:</label>
      <input type="text" id="title" class="form-control" name="title" placeholder="Name Your Quirii" required="required"/>
    </div>
    <div class="form-group">
      <label for="mediaType" class="control-label">Are you uploading:</label>
      <div data-toggle="buttons">
        <label class="btn btn-default">
          <input type="radio" name="mediaType" id="photo" value="PHOTO"><i class="fa fa-photo"></i>Photo
        </label>
        <label class="btn btn-default">
          <input type="radio" name="mediaType" id="embed" value="EMBED"><i class="fa fa-link"></i>Link
        </label>
      </div>
      <!--<input type="radio" name="mediaType" value="PHOTO" />A Photo
      <input type="radio" name="mediaType" value="EMBED" />A Link-->
    </div>
    <div class="form-group photo-upload hidden">
      <label for="files" class="control-label">Please select a file</label>
      <input type="file" id="files" class="form-control" />
    </div>
    <div class="form-group photo-preview hidden">
      <div class="responsive-img" id="preview">
        <img src="/images/default.png" />
      </div>
    </div>
    <input type="hidden" id="image_url" name="image_url" value="/images/default.png" required="required"/>

    <div class="form-group embed-content hidden">
      <label for="linkType" class="control-label">Specify type of link:</label>
      <br />
      <!--
      <input type="radio" name="linkType" value="soundcloud" /><i class="fa fa-soundcloud"></i> Soundcloud 
      <input type="radio" name="linkType" value="youtube" /><i class="fa fa-youtube-play"></i> YouTube 
      <input type="radio" name="linkType" value="twitter" /><i class="fa fa-twitter-square"></i> Twitter 
      <input type="radio" name="linkType" value="tumblr" /><i class="fa fa-tumblr-square"></i> Tumblr
      <input type="radio" name="linkType" value="iframe" /><i class="fa fa-ellipsis-h"></i> Other iFrame<br />
      -->
      <div class="embed-content hidden" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="radio" name="linkType" id="soundcloud" value="soundcloud" autocomplete="off" ><i class="fa fa-soundcloud"></i> Soundcloud
        </label>
        <label class="btn btn-default">
          <input type="radio" name="linkType" id="youtube" value="youtube" autocomplete="off"><i class="fa fa-youtube-play"></i> YouTube 
        </label>
        <label class="btn btn-default">
          <input type="radio" name="linkType" id="twitter" value="twitter" autocomplete="off"><i class="fa fa-twitter-square"></i> Twitter 
        </label>
        <label class="btn btn-default">
          <input type="radio" name="linkType" id="tumblr" value="tumblr" autocomplete="off"><i class="fa fa-tumblr-square"></i> Tumblr 
        </label>
        <label class="btn btn-default">
          <input type="radio" name="linkType" id="iframe" value="iframe" autocomplete="off"><i class="fa fa-compass"></i> Paste iFrame 
        </label>
      </div>
      <br />
      <label for="embedLink" class="control-label">Please paste a valid embed link</label>
      <div class="alert alert-warning hidden" id="iframe-alert" role="alert">WARNING! This must be a valid iFrame element or embed element.</div>
      <input type="text" id="embedLink" name="embedLink" class="form-control hidden" placeholder="http://youtube.com/12345" />
    </div>


    

    <div class="form-group">
      <label for="prompt" class="control-label"><span>Prompt or question: </span><sub>(optional)</sub></label>
      <input type="text" id="prompt" class="form-control" name="prompt" placeholder="Add a prompt or question"/>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="feedbackIsPublic" id="feedbackIsPublic" /> Public Feedback
      </label>
    </div>
    <div id="fields-errors" class="form-group has-error hidden">
      <label class="control-label">Please fill in the required fields.</label>
    </div>
    <button type="submit" class="big-btn blue block" id="postQuirii">Create</button>
  </form>
</div>