<div class="col-xs-12 boxDiv" >
<form class="form-horizontal" id="quiriiForm" role="form">
	<h1>Create A Quirii</h1>
	Title: <input class="sixteen-px" type="text" id="title" name="title" placeholder="name your quirii"/>
	<br />
	Prompt: <input class="sixteen-px" type="text" id="prompt" name="prompt" placeholder="enter prompt(optional)"/>
	<br />
	MediaUrl: <input class="sixteen-px" type="text" id="mediaUrl" name="mediaUrl" placeholder="http://www.deepriversnacks.com/images/slide-kettle-original.png"/>
	<br />
	<input type="submit" class="big-btn" id="postQuirii" value="Create">
</form>
</div>
