<div class="morphii-radios"></div>

<h4 class="selected-morphii">Delight</h4>
<div id="morphii-container"></div>


<input type="range" name="intensity" max="1" min="0" value="0.5" step="0.0001"/>

<label>Response:</label>
<textarea name="comment" rows="3" class="form-control" autocorrect="off"/>
<label class="control-label hidden">Enter a response in order to post.</label>

<div class="checkbox">
  <label>
    <input type="checkbox" name="anonymous" id="anonymous" /> Post anonymously
  </label>
</div>

<button id="postMorphy" class="big-btn green block" type="submit" name="postMorphy">
  <i class="fa fa-upload"></i>
  <span>Post</span>
</button>