<h1 class="text-center"><strong>Quirii</strong></h1>

  <div class="col-xs-8 col-xs-offset-1 row">
    <p> <a href="/auth/twitter"><img src="images/sign-in-with-twitter-l.png" width="151" height="24"></a></p>
    <p class="text-center text-muted"><em>Enter your email address to get started on Quirii</em></p>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><br>
      <p class="text-muted">By creating an account I agree to <a href="#/events/1">Quirii's Terms of Service</a></p>
    </div>
  </div>