<!-- Modal -->
<!--  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          
        </div>
        <div class="modal-body">
          <div id="morphy-ui"></div>
        
-->

<form class="form-horizontal" role="form">
 
  <div class="col-xs-10 col-xs-offset-2 form-group">
      <legend>Select Morphy Type</legend>

      <div class="col-xs-12 morphios">
      
        <input id="delight" class="input-hidden" name="scale" type="radio" value="Delight" checked="checked"/>
        <label for="delight"><img src="http://s3.amazonaws.com/ViizbiProducts/morphies/Delight.png" style="width: 75px; height:75px;"/>
        <br />
        <center>Delight</center>
        </label>  
 
      
        <input id="disgust" class="input-hidden" name="scale" type="radio" value="Disgust" />
        <label for="disgust"><img src="http://s3.amazonaws.com/ViizbiProducts/morphies/Disgust.png" style="width: 60px; height:60px;"/>  
        <br />
        <center>Disgust</center>
        </label>  

      
        <input id="disappointed" class="input-hidden" name="scale" type="radio" value="Disappointed" />
        <label for="disappointed"><img src="http://s3.amazonaws.com/ViizbiProducts/morphies/Disappointed.png" style="width: 60px; height:60px;"/>
        <br />
        <center>Disappointed</center>
        </label>  

      
        <input id="surprise" class="input-hidden" name="scale" type="radio" value="Surprise" />
        <label for="surprise"><img src="http://s3.amazonaws.com/ViizbiProducts/morphies/Surprise.png" style="width: 60px; height:60px;"/>
        <br />
        <center>Surprise</center>
        </label>  

      

      
        <input id="disbelief" class="input-hidden" name="scale" type="radio" value="Srsly" />
        <label for="disbelief"><img src="http://s3.amazonaws.com/ViizbiProducts/morphies/Srsly.png" style="width: 60px; height:60px;"/>
        <br />
        <center>Bored</center>
        </label>


      </div>
      
  </div>
  

  <div class="col-xs-10 col-xs-offset-1 col-lg-4 form-group">
    <legend>Morphy</legend>
    <div id="morphy-container"></div>
    <input type="range" name="intensity"  min="0" max="1" value="0" step="0.001" />
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-lg-8 form-group">
  <legend>Message</legend>
      <!--<input type="text" name="status" class="form-control"/>-->
      <textarea name="memo" rows="3" style="font-size:16px;"class="sixteen-px form-control" autocorrect="off"/>
      
  </div>

</form>

</div>


<!--
</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="postMorphy" class="btn btn-primary" data-dismiss="modal">Post</button>
        </div>
      </div>--> <!-- /.modal-content -->
   <!--</div> --><!-- /.modal-dialog -->
 <!-- </div> --><!-- /.modal -->