<form id="public-quirii" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center hidden">
    <h2>Feedback Sent!</h2>
    <div class="success-circle">
      <i class="fa fa-check"></i>
    </div>
    <div class="well well-sm">Share Your Feedback</div>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Give Feedback</h3>
    <div class="responsive-img">
      <img src="<%=model.mediaUrl %>" />
    </div>
    
    <h4 class="prompt"><%= model.prompt %></h4>
    
    <div id="quirii-feedback"></div>
  </div>
</form>