<div class="row quirii-details">  
  <div class="col-sm-8 col-sm-offset-2">
    <% if (model.isOwner) { %><a href="#" id="view-all-quiriis"><i class="fa fa-long-arrow-left"></i> View all Quiriis</a><% } %>
    
    <div class="responsive-img">
      <img src="<%=model.quirii.mediaUrl %>" />
    </div>
    <h3><%= model.quirii.title %></h3> 
    <h4><%= model.quirii.prompt %></h4>
    
    <div class="well well-sm">
      <h4>Share</h4>
    </div>
    
    <div class="text-center">
      <div style="margin-bottom: 10px;">
        <a id="share-twitter" class="big-btn twitter" data-url="#/quiriis/<%=model.quirii.id %>">
          <i class="fa fa-twitter"></i> Tweet Quirii
        </a>
        <button id="copyQuirii" class="big-btn blue"><i class="fa fa-link"></i> Quirii Link</button> 
      </div>

      <div>
        <a href="#/quiriis/<%=model.id %>" class="big-btn blue">Go to Quirii</a>
        <% if (model.isOwner) { %><a href="#" class="big-btn destroy" id="deleteQuirii">Delete Quirii</a><% } %>
      </div>
    </div>
    
    <div class="well well-sm">
      <h4>At-a-glance</h4>
    </div>
    
    <p class="no-feedback">You need feedback to view the aggregate morphii.</p>
    
    <div id="aggregate-morphii" class="hidden text-center">
      <h4>Aggregate Morphii:</h4>
      <div class="morphii"></div>
      <p id="total-reviews">{0} total reviews</p>
      <p id="aggregate-status">{0} were {1}</p>
      <p id="aggregate-desc">Mean {0} score so far is {1} (range = 0.00 to 1.00)</p>
    </div>

    <div class="well well-sm">
      <h4>Your Feedback</h4>
    </div>
    <ul class="feedback-list list-unstyled">
      <p class="no-feedback">You don't have any feedback yet!</p>
    </ul>
  </div>
</div>