@import (less) "bootstrap.css";

#navigation {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  font-size: 1.6em;
  color: #555;
  padding: 0.2em 0;
  line-height: 30px;
  
  &.hidden + #content {
    padding: 0;
  }
  .prev, .cancel,
  .next, .create  {
    display: none;
    position: absolute;
    top: 0;
    font-size: 0.8em;
    color: #7474ff;
    cursor: pointer;
    
    &:hover {
      color: #4444ff;
    }
    span, i {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .prev, .cancel {
    left: 10px;
    
    i {
      margin-right: 6px;
    }
  }
  .next, .create {
    right: 10px;
    
    i {
      margin-right: 6px;
    }
  }
}

#content{
  padding-top: 40px;
  margin-top: 10px;
}

.big-btn{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #28d425;
  color: #28d425;
  margin: 5px;
}

.big-btn-destroy{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #fb1e14;
  color: #fb1e14;
  margin: 5px;
}

.big-btn-blue{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #0080ff;
  color: #0080ff;
  margin: 5px;
}

.big-btn-huge{
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 10px;
  border-color: #28d425;
  color: #28d425;
  margin: 5px;
  font-size: 16px;
}

.responsive-img {
  max-width: 300px;
  margin: auto;

  img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
  }
}

#public-quirii {
  .prompt,
  .selected-morphii {
    text-align: center;
    margin-top: 1.4em;
  }
  .morphii-radios {
    display: table;
    margin: auto;
    text-align: center;
    background: #f2f2f2;
    padding: 0.2em 1.6em;
    position: relative;
    margin-bottom: 2em;
    
    img {
      max-width: 60px;
      margin: 5px;
    }
    .input-hidden {
      position: absolute;
      left: -9999px;
    }
    input[type=radio]:checked + label {
      color: #96A3FF;
      
      &:before {
        content: '';
        background: #f2f2f2;
        width: 30px; height: 30px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 100%;
        margin-top: -18px;
        margin-left: 20px;
        z-index: -1;        
      }
      img {
        border-radius: 45px;
        box-shadow: 0 0 2px 2px #96A3FF;
      }
    }
  }
  #morphii-container {
    text-align: center;
    margin: 1em 0;
    
    svg {
      display: inline-block;
      vertical-align: top;
    }
  }
  input[type="range"] {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 50px;
    margin: 0.6em auto;
    background-color: #f2f2f2;
    border-radius: 20px;
  }
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 40px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
  }
}